.App {
  background-color: #eee;
  height: auto;
  min-height: 100vh;
  width: 100vw;
}
h1 {
  text-align: center;
  padding-top: 20vh;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;

}

.search-bar-container {
  padding-top: 4vh;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}

.result-list-container {
  background-color: white;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  box-shadow: 0 0 8px #ddd;
  border-radius: 10px;
  margin-top: 1rem;
  max-height: 300px;
  overflow-y: scroll;
}